{% extends 'base.html' %}
{% block title %}
    文章列表
{% endblock %}

{% block content %}
    {#    得到文章的总数量,通过过滤器进行总数和长度判断 ，通过view返回关键词  {{ articles_count }}#}
    <p>当前文章的总数量为：{{ articles|length }} </p>
    {% for article in articles %}
{#        <a href="/article/{{ article.pk }}">{{ article.title }}</a>#}
        <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
        <p>{{ article.content|truncatechars_html:15 }}</p>
    {% empty %}
        <p>--- 暂无文章，敬请期待 ---</p>
    {% endfor %}
{% endblock %}